@{
    ViewData["Title"] = "Home";
}
<p>
    This Site covers all the use cases and features of the <a href="https://ravepay.co/" target="_blank">Flutterwave RavePay API</a>
    Implemented as in .NET. You can download the library from <a href="https://www.nuget.org/packages/Flutterwave.Ravepay.Net/">Nuget</a>
    You can check it out on <a href="https://github.com/okezieokpara/FlutterWave.RavePay.Net">Github</a> or read the RavePay documentation <a href="https://flutterwavedevelopers.readme.io">here</a>  .
</p>
<p>Check out all the available services on the <em>services</em> menu on the right</p>